<h1>Alpha bloggers</h1>

<tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.username, user %></td>
        <td><%= pluralize(user.articles.count, "article") %></td>
        <td><%= link_to 'View profile', user %> </td>
        <td><%= link_to 'Edit profile', edit_user_path(user) %> </td>
      </tr> 
    <% end %> 
  </tbody>
<%= link_to  "Return to articles listing", articles_path %>
